<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Test</title>
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css"></link>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    {% if g.user %}
    <a href="/user/{{g.user.id}}/friends">Friends</a>
    <form action="/logout" method="POST">{{g.csrf_form.hidden_tag()}}
      <button class="btn btn-link">Logout</button>
    </form>
    {% endif %}
  </nav>
  {% block content%}
  {% endblock %}

</body>
</html>
