{% extends "base.html" %}

{% block content %}

<div class="friendslist">
  {% if friends|length == 0 %}
  <div class="text-center"> You have no friends :(</div>
  {% endif %}
  {% for user in friends %}
  <div class="card" style="width: 450px">
    <div class="user-card card-body text-center" id="{{user.username}}">
      <a href="/user/{{user.id}}">
        <p class="card-title">{{ user.first_name }}</p>
        <img src="{{ user.img_url }}" width=300px height=400px />
      </a>
    </div>
</div>
  {% endfor %}
</div>


{% endblock %}
