{% extends 'base.html' %}
{% block content %}
<div class="container">

    {% for user in users %}
    <div class="user-card text-center" id="{{user.username}}">
        <p>{{ user.first_name }}</p>
        <img src="{{ user.img_url }}" width=300px height=400px />
        <p>Hobbies: {{ user.hobbies }}</p>
        <p>Interests: {{ user.interests }}</p>
        <a href="/pending/{{user.id}}">Like</a>
        <a href="/disliking/{{user.id}}">Dislike</a>
    </div>
    {% endfor %}

</div>
{% endblock %}
